<!DOCTYPE html>
<html>
<head>
  <title>ShopqiApp</title>
  <%= stylesheet_link_tag    "shopqi_app/application" %>
  <%= javascript_include_tag "shopqi_app/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
